body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    display: vertical;
    flex-direction: column; 
    justify-content: flex-start; 
    margin: auto;
}

h2 {
    color: #0b3d91; 
    font-size: 24px;
}

form div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0b3d91; 
    color: white;
    border: none;
    border-radius: 30px; 
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}
